autopep8==1.5.7
pyaes==1.6.1
pyasn1==0.4.8
pycodestyle==2.7.0
python-dotenv==1.0.0
rsa==4.7.2
Telethon==1.34.1
toml==0.10.2

Pillow~=7.0.0
keyring~=18.0.1
Click~=7.0
setuptools~=45.2.0
requests~=2.31.0